<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Итоговый тест</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/basicelement.css" rel="stylesheet">

</head>

<body data-spy="scroll" data-target=".navbar">

<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header nav">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-lg fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#intro">
                <i class="fa fa-male"></i>  <span class="light">MOSCOW</span>POLYTECH
            </a>
        </div>
		<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
				<li>
                    {% if current_user.is_authenticated %}
			<a onClick="location.href='{{url_for('index')}}';" type="button" class="page-scroll">На главную</a>
			{% endif %}
                </li>
            </ul>
		</div>
    </div>
    <!-- /.container -->
</nav>

<!-- Intro Header -->
<header class="intro" id="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading" style="color:gray">Методика защиты информации от целевого фишинга</h1>
                    <!--<p class="intro-text">A free, responsive, one page HTML theme.<br>Created by 
					<a href="http://codedesign.elkind.net/themes/basicelement/">CODEDESIGN</a></p>-->
					<p class="nav"><a href="#about" class=" btn btn-down page-scroll"><i class="fa fa-angle-down animated"></i></a></p>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- About Section -->
<section id="about" class="container-fluid content-section">
<div style=" padding: 10px; overflow:auto;">
<script>
var title = 'Итоговое тестирование';
var subtitle = "Этот тест позволяет оценить Ваши знания после прохождения курса лекций";
var questions=[
{
	text: "Как обезопасить себя от потенциальной угрозы целевого фишинга?",
	answers: ["Внимательно изучить теорию",
		  "Не скачивать файлы от неизвестного источника",
		  "Не переходить по неизвестным ссылкам, а также не принимать помощь не от сотрудников организации",
		  "Не разглашать любую информацию о себе, тем-более сообщать пароль",
		  "Все вышеперечисленное"],
	correctAnswer: 4 
},
{
	text: "Вам написал неизвестный человек, предложив свою помощь по удаленному доступу за «вознаграждение», примите ли вы это предложение?",
	answers: ["Нет, это может оказаться мошенник",
		  "Да, он поможет мне, к тому же получит вознаграждение",
		  "Да, если я буду видеть, что он делает на компьютере"],
	correctAnswer: 0
},
{
	text: "Вам пришло сообщение со ссылкой от неизвестного источника, ваши действия?",
	answers: ["Не буду переходить по ссылке и удалю сообщение",
		  "Перейду по ссылке, ведь данный контакт мне известен",
		  "Не буду переходить по ссылке и сообщу о письме руководству"],
	correctAnswer: 2
},
{
	text: "Можете ли вы отключить антивирусное ПО?",
	answers: ["Нет, ведь это снизит безопасность компьютера",
		  "Да, если оно мешает моей работе",
		  "Да, если об этом попросило руководство"],
	correctAnswer: 2
},
{
	text: "Как определить фишинговый сайт?",
	answers: ["Веб-адрес написан с ошибками",
		  "В адресе сайта стоит http вместо https",
		  "У адреса неправильный домен верхнего уровня",
		  "Все вышеперечисленное"],
	correctAnswer: 3
},
{
	text: "Вам пришло сообщение о нарушении лицензий, ваши действия?",
	answers: ["Попросить прислать официальный запрос в виде бумажного документа и закончить разговор",
		  "Переслать письмо тем, кто отвечает за лицензирование",
		  "Удалить сообщение"],
	correctAnswer: 0
},
{
	text: "Вам на почту пришло сообщение с word файлом, открыв его вы видите окно с просьбой о разрешении редактирования, ваши действия?",
	answers: ["Разрешу редактирование",
		  "Закрою и удалю файл",
		  "Проверю файл антивирусом, если вирусов не обнаружится, открою"],
	correctAnswer: 1
},
{
	text: "Можете ли вы отключить спам-фильтры?",
	answers: ["Нет ",
		  "Да, если оно мешает моей работе",
		  "Да, если об этом попросило руководство"],
	correctAnswer: 0
},
{
	text: "В мессенджере вам пришло сообщение от знакомого контакта с просьбой обновить антивирусное ПО, Ваши действия?",
	answers: ["Перейду по ссылке, ведь данный контакт мне известен",
		  "Удалю сообщение",
		  "Уточню, действительно ли надо обновлять ПО и после приму решение"],
	correctAnswer: 0
},
{
	text: "Можете ли вы отключить UTM-систему?",
	answers: ["Нет ",
		  "Да, если оно мешает моей работе",
		  "Да, если об этом попросило руководство"],
	correctAnswer: 0
},
{
	text: "Можете ли вы кому-либо сообщать свой пароль?",
	answers: ["Только сотрудникам отдела безопасности",
		  "Никому",
		  "Если доверяю человеку"],
	correctAnswer: 1
},
{
	text: "Можете ли вы разглашать информацию об учетной записи?",
	answers: ["Только сотрудникам компании",
		  "Нет",
		  "Если доверяю человеку"],
	correctAnswer: 1
},
{
	text: "Можете ли вы самостоятельно изменять настройки защитного ПО?",
	answers: ["Да, если об этом попросили",
		  "Да, если это мешает моей работе",
		  "Нет"],
	correctAnswer: 2
},
{
	text: "Можете ли вы самостоятельно устанавливать защитное ПО?",
	answers: ["Да, если об этом попросили",
		  "Да, изучив инструкцию",
		  "Нет"],
	correctAnswer: 2
},
{
	text: "Можете ли вы предоставлять удаленный доступ к компьютеру по просьбе сотрудника отдела безопасности?",
	answers: ["Да, убедившись, что это действительно сотрудник организации",
		  "Нет",
		  "Да, предупредив руководство"],
	correctAnswer: 0
}
];

var yourAns = new Array;
var score = 0;

function Engine(question, answer) {yourAns[question]=answer;}

function Score(){
   var answerText = "Результаты:<br/>";
   for(var i = 0; i < yourAns.length; ++i){
	var num = i+1;
	answerText=answerText+"<br/>    Вопрос №"+ num +"";
	if(yourAns[i]!=questions[i].correctAnswer){
	    answerText=answerText+": Правильный ответ -  " +
		questions[i].answers[questions[i].correctAnswer];
	  }
        else{
	    answerText=answerText+": Верно! \n";
	    ++score;
	    }
       }

   answerText=answerText+"<br/>Всего правильных ответов: "+score+" <br/>";

   document.getElementById('answerText').innerHTML = answerText;
   yourAns = [];
   score = 0;
   clearForm("quiz");
}
function clearForm(name) {
   var f = document.forms[name];
   for(var i = 0; i < f.elements.length; ++i) {
	if(f.elements[i].checked)
		f.elements[i].checked = false;
}
}
</script>
<h2><script>document.write(title)</script></h2>
<h3><script>document.write(subtitle)</script></h3>

    <form name="quiz">
    <ol>
        <script>
        for(var q=0; q<questions.length; ++q) {
           var question = questions[q];
           var idx = 1 + q;

           document.writeln('<li><span class="quest">' + question.text + '</span><br>');
           for(var i in question.answers) {
            document.writeln('<label><input type=radio name="q' + idx + '" value="' + i +
            '" onClick="Engine(' + q + ', this.value)"> ' + question.answers[i] + '</label><br>');
        }
            document.writeln('</li>');
        }
        </script>
    </ol>
        <br>
		<span id="answerText"></span>
		<br>

        <button type="button" onClick="Score()" class="btn btn-default btn-lg">Проверить результаты</button>
    </form>
</div>
</section>

<!-- Download Section -->
<section id="download" class="content-section text-center">
    <div class="overlay">
        <div class="download-section">

            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Итоговое тестирование</h2>
                    <p>Тестирование выже предназначено для определения вашего текущего уровня знаний о целевом фишинге, оно является заключительным.</p>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Footer -->
<footer>
    <div class="container text-center">
        <p>Copyright &copy; MOSCOW POLYTECH</p>
    </div>
</footer>

<!-- jQuery -->
<script src="../static/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../static/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="http://flesler-plugins.googlecode.com/files/jquery.scrollTo-1.4.3.1-min.js"></script>
<script src="../static/js/jquery.easing.min.js"></script>
<script src="../static/js/SmoothScroll.js"></script>
<script src="../static/js/basicelement.js"></script>

</body>
</html>
