<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Начальный тест</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/basicelement.css" rel="stylesheet">

</head>

<body data-spy="scroll" data-target=".navbar">

<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header nav">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-lg fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#intro">
                <i class="fa fa-male"></i>  <span class="light">MOSCOW</span>POLYTECH
            </a>
        </div>
		<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
				<li>
                    {% if current_user.is_authenticated %}
			<a onClick="location.href='{{url_for('index')}}';" type="button" class="page-scroll">На главную</a>
			{% endif %}
                </li>
            </ul>
		</div>
    </div>
    <!-- /.container -->
</nav>

<!-- Intro Header -->
<header class="intro" id="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading" style="color:gray">Методика защиты информации от целевого фишинга</h1>
					<p class="nav"><a href="#about" class=" btn btn-down page-scroll"><i class="fa fa-angle-down animated"></i></a></p>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- About Section -->
<section id="about" class="container-fluid content-section">
<div style=" padding: 10px; overflow:auto;">
<script>
var title = 'Начальное тестирование';
var subtitle = "Этот тест позволяет оценить Ваши текущие знания для дальнейшего сравнения с результатами после прохождения курса лекций";
var questions=[
{
	text: "Выбери главную цель целевого фишинга:",
	answers: ["Получение конфиденциальной информации",
		  "Получить доступ к вашим социальным сетям",
		  "Узнать больше о организации",
		  "Отвлечь вас от работы"],
	correctAnswer: 0 
},
{
	text: "Вы получили на почту подозрительное письмо от неизвестного отправителя с файлом расширения .docx внутри, стоит ли его скачивать?",
	answers: ["Да, ничего страшного не произойдет от скачивания данного файла",
		  "Нет, даже в файле с этим расширением могут быть опасности"],
	correctAnswer: 1
},
{
	text: "Вам позвонили на телефон с неизвестного номера, и назвав вас по имени отчеству попросили перечислить наиболее часто используемые программы, назовете ли вы их?",
	answers: ["Да, раз они назвали меня по имени, это обычный опрос",
		  "Нет, злоумышленники могут знать мои данные"],
	correctAnswer: 1
},
{
	text: "В мессенджере вам пришло сообщение со ссылкой от знакомого контакта, ваши действия?",
	answers: ["Не буду переходить по ссылке и удалю сообщение",
		  "Перейду по ссылке, ведь данный контакт мне известен, и ссылка выглядит не опасной",
		  "Перейду по ссылке и проверю источник, но данные вводить не буду",
		  "Не буду переходить по ссылке и сообщу о письме руководству"],
	correctAnswer: 1
},
{
	text: "В мессенджере вам пришло сообщение со ссылкой от незнакомого контакта, ваши действия?",
	answers: ["Не буду переходить по ссылке и удалю сообщение",
		  "Перейду по ссылке"],
	correctAnswer: 0
},
{
	text: "Знакомый отправил вам сообщение с непонятной ссылкой, может ли она быть опасной?",
	answers: ["Да, может",
		  "Нет, ведь ее отправил мой знакомый"],
	correctAnswer: 0
},
{
	text: "Вы хотите войти в личный кабинет, чтобы проверить новые сообщения. Вбивая название организации в поисковой системе, вам выдает следующую ссылку: https://mospolytech.n5w.ru. Следует ли на нее переходить?",
	answers: ["Да",
		  "Нет"],
	correctAnswer: 1
},
{
	text: "Вам, поступил звонок с неизвестного номера, человек представился начальником отдела по безопасности. Обратившись к вам по ФИО и назвав данные вашего компьютера, он просит вас установить новую программу, сделаете ли вы это?",
	answers: ["Да, если он знает данные моего компьютера, а также мое ФИО, он не врет",
		  "Нет, это может быть мошенник, для начала стоит убедиться, что это действительно начальник отдела"],
	correctAnswer: 1
},
{
	text: "Вам, поступил звонок от контакта «сотрудник IT отдела», обратившись к вам по имени, он просит вас предоставить удаленный доступ к вашему компьютеру, сделаете ли вы это?",
	answers: ["Да, ведь данный человек есть у меня в контактах",
		  "Нет, это может быть мошенник"],
	correctAnswer: 0
},
{
	text: "Ранее на собрании вам сообщали о внедрении новой антивирусной программы, позже вы и ваши коллеги получили ссылку на неизвестное ПО и просьбу установить его, сделаете ли вы это?",
	answers: ["Да, данное сообщение пришло не только мне, а также об этом сообщали ранее",
		  "Нет, это обман"],
	correctAnswer: 1
},
{
	text: "Сетевой менеджер попросил вас сообщить свой пароль для доступа к компьютеру, сообщите ли вы его?",
	answers: ["Да, ведь это сотрудник организации",
		  "Нет, я не должен этого делать"],
	correctAnswer: 1
},
{
	text: "Получив неизвестный файл с расширением .pdf, попытаетесь ли вы его скачать?",
	answers: ["Да, ничего не произойдет",
		  "Нет, там могут быть сторонник программы/макросы",
		  "Нет, сразу удалю сообщение",
		  "Да, если в названии говорится о чем-то нужном"],
	correctAnswer: 2
},
{
	text: "Что произойдет, если вы примете фишинговое письмо за настоящее?",
	answers: ["Вы можете перейти по опасной ссылке или скачать файл, содержащий в себе вредоносную программу/вложение",
		  "Ничего не произойдет, ведь установлены защитные ПО "],
	correctAnswer: 0
},
{
	text: "Как наиболее точно узнать у человека, мошенник он или сотрудник предприятия?",
	answers: ["Попросить его назвать местоположение организации",
		  "Попросить его назвать ФИО",
		  "Попросить его назвать подразделения, а также ФИО руководителя"],
	correctAnswer: 2
},
{
	text: "Какие из следующих действий являются опасными?",
	answers: ["переход по ссылке",
		  "открытие вложения",
		  "установка приложения",
		  "переход по ссылке на сайт с последующей регистрацией с учетной записью",
		  "все вышеперечисленное"],
	correctAnswer: 4
}
];

var yourAns = new Array;
var score = 0;

function Engine(question, answer) {yourAns[question]=answer;}

function Score(){
   var answerText = "Результаты:<br/>";
   for(var i = 0; i < yourAns.length; ++i){
	var num = i+1;
	answerText=answerText+"<br/>    Вопрос №"+ num +"";
	if(yourAns[i]!=questions[i].correctAnswer){
	    answerText=answerText+": Правильный ответ -  " +
		questions[i].answers[questions[i].correctAnswer];
	  }
        else{
	    answerText=answerText+": Верно! \n";
	    ++score;
	    }
       }

   answerText=answerText+"<br/>Всего правильных ответов: "+score+" <br/>";

   document.getElementById('answerText').innerHTML = answerText;
   yourAns = [];
   score = 0;
   clearForm("quiz");
}
function clearForm(name) {
   var f = document.forms[name];
   for(var i = 0; i < f.elements.length; ++i) {
	if(f.elements[i].checked)
		f.elements[i].checked = false;
}
}
</script>
<h2><script>document.write(title)</script></h2>
<h3><script>document.write(subtitle)</script></h3>

    <form name="quiz">
    <ol>
        <script>
        for(var q=0; q<questions.length; ++q) {
           var question = questions[q];
           var idx = 1 + q;

           document.writeln('<li><span class="quest">' + question.text + '</span><br>');
           for(var i in question.answers) {
            document.writeln('<label><input type=radio name="q' + idx + '" value="' + i +
            '" onClick="Engine(' + q + ', this.value)"> ' + question.answers[i] + '</label><br>');
        }
            document.writeln('</li>');
        }
        </script>
    </ol>
        <br>
		<span id="answerText"></span>
		<br>

        <button type="button" onClick="Score()" class="btn btn-default btn-lg">Проверить результаты</button>
    </form>
</div>
</section>

<!-- Download Section -->
<section id="download" class="content-section text-center">
    <div class="overlay">
        <div class="download-section">

            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Начальное тестирование</h2>
                    <p>Тестирование выже предназначено для определения вашего текущего уровня знаний о целевом фишинге, оно является базовым и состоит из наиболее простых и популярных вопросов.</p>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Footer -->
<footer>
    <div class="container text-center">
        <p>Copyright &copy; MOSCOW POLYTECH</p>
    </div>
</footer>

<!-- jQuery -->
<script src="../static/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../static/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="http://flesler-plugins.googlecode.com/files/jquery.scrollTo-1.4.3.1-min.js"></script>
<script src="../static/js/jquery.easing.min.js"></script>
<script src="../static/js/SmoothScroll.js"></script>
<script src="../static/js/basicelement.js"></script>

</body>
</html>
