<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ВКР Коняхин 2022</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
	

    <!-- Custom CSS -->
    <link href="../static/css/basicelement.css" rel="stylesheet">

</head>

<body data-spy="scroll" data-target=".navbar">

<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header nav">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-lg fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#intro">
                <i class="fa fa-male"></i>  <span class="light">MOSCOW</span>POLYTECH
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section
                <li class="hidden">
                    <a href="#page-top"></a>
                </li> -->
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#download">Тестирования</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Курс лекций</a>
                </li>
				<li>
                    {% if not current_user.is_authenticated %}
			<a onClick="location.href='{{url_for('login')}}';" type="button" class="page-scroll">Авторизация</a>
			{% endif %}
			{% if current_user.is_authenticated %}
			<a onClick="location.href='{{url_for('logout')}}';" type="button" class="page-scroll">Выход</a>
			{% endif %}
                </li>
            </ul>
			
			<!-- <a href="{{url_for('login')}}" class="btn btn-default btn-lg"><i class="fa fa-github-alt fa-fw"></i> <span class="network-name">Авторизоваться</span></a> -->
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Intro Header -->
<header class="intro" id="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading" style="color:gray">Методика защиты информации от целевого фишинга</h1>
                    <!--<p class="intro-text">A free, responsive, one page HTML theme.<br>Created by 
					<a href="http://codedesign.elkind.net/themes/basicelement/">CODEDESIGN</a></p>-->
					<p class="nav"><a href="#about" class=" btn btn-down page-scroll"><i class="fa fa-angle-down animated"></i></a></p>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- About Section -->
<section id="about" class="container-fluid content-section">
    <!-- 3 Section -->
    <section class="container-fluid content-section about text-center">
        <div class="col-lg-7 col-lg-offset-2">
            <h2>About</h2>
            <p>Данный сайт является частью выпускной квалификационной работы и предназначен для повышения знаний пользователей о целевом фишинге на предприятии. Тут вы можете пройти 5 тестирований (Начальное, 3 лекционных, итоговое), которые отличаются сложностью вопросов, а также длительностью их прохождений. К тому же после регистрации вы сможете просмотреть курс лекций, который поможет успешнее пройти задания.</p>
        </div>
    </section>

    <div class="col-md-4 col-gray2">
        <h3><i class="fa fa-picture-o fa-2x" style="position:absolute; top:25px; right:20px;"></i> Начальное тестирование</h3>
        <p> Данное тестирование состоит из 15 вопросов и позволяет определить ваш текущий уровень знаний. </p>
    </div>
    <div class="col-md-4 col-gray">
        <h3><i class="fa fa-desktop fa-2x" style="position:absolute; top:25px; right:20px;"></i> Лекционные тестирования</h3>
        <p> Данные тестирования состоит из 5 вопросов и покажут, на сколько хорошо вы поняли материал лекции. </p>
    </div>
    <div class="col-md-4 col-gray2">
        <h3><i class="fa fa-code fa-2x" style="position:absolute; top:25px; right:20px;"></i>Итоговое тестирование</h3>
        <p> Данное тестирование состоит из 15 вопросов и позволяет определить ваш уровень знаний после обучения. </p>
    </div>
</section>

<!-- Download Section -->
<section id="download" class="content-section text-center">
    <div class="overlay">
        <div class="download-section">

            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Тестирование</h2>
                    <p>Ниже представлены 3 вида тестирования, пройдя которые вы сможете проверить, на сколько хорошо ознакомлены с методикой борьбы с целевым фишингом.</p>
					{% if current_user.is_authenticated %}
                    <ul class="list-inline banner-social-buttons">
						<li>
							<a href="{{url_for('firsttest')}}" class="btn btn-default btn-lg"> <span class="network-name">Начальное тестирование</span></a>
						</li>
						<li>
							<a href="{{url_for('test1')}}" class="btn btn-default btn-lg"> <span class="network-name">Первая лекция</span></a>
						</li>
						<li>
							<a href="{{url_for('finaltest')}}" class="btn btn-default btn-lg"> <span class="network-name">Итоговое тестирование</span></a>
						</li>
					</ul>
					{% endif %}
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact" class="container content-section text-center">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Курс лекций</h2>
            <p>Пройдя весь курс лекций, состоящий из 3 частей, вы сможете значительно повысить свои знания о целевом фишинге, а также успешно пройти тестирования.</p>
			{% if current_user.is_authenticated %}
            <ul class="list-inline banner-social-buttons">
                <li>
                    <a href="{{url_for('test1')}}" class="btn btn-default btn-lg"><i class="fa fa-github-alt fa-fw"></i> <span class="network-name">Лекция 1</span></a>
                </li>
                <li>
                    <a href="{{url_for('test2')}}" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Лекция 2</span></a>
                </li>
                <li>
                    <a href="{{url_for('test3')}}" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Лекция 3</span></a>
                </li>
            </ul>
			{% endif %}
        </div>
</section>

<!-- Footer -->
<footer>
    <div class="container text-center">
        <p>Copyright &copy; MOSCOW POLYTECH</p>
    </div>
</footer>

<!-- jQuery -->
<script src="../static/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../static/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="http://flesler-plugins.googlecode.com/files/jquery.scrollTo-1.4.3.1-min.js"></script>
<script src="../static/js/jquery.easing.min.js"></script>
<script src="../static/js/SmoothScroll.js"></script>

<!-- Custom Theme JavaScript -->
<script src="../static/js/basicelement.js"></script>


</body>
</html>
