<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Лекция 3</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/basicelement.css" rel="stylesheet">

</head>

<body data-spy="scroll" data-target=".navbar">

<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header nav">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-lg fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#intro">
                <i class="fa fa-male"></i>  <span class="light">MOSCOW</span>POLYTECH
            </a>
        </div>
		<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
				<li>
                    {% if current_user.is_authenticated %}
			<a onClick="location.href='{{url_for('index')}}';" type="button" class="page-scroll">На главную</a>
			{% endif %}
                </li>
            </ul>
		</div>
    </div>
    <!-- /.container -->
</nav>

<!-- Intro Header -->
<header class="intro" id="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading" style="color:gray">Методика защиты информации от целевого фишинга</h1>
                    <!--<p class="intro-text">A free, responsive, one page HTML theme.<br>Created by 
					<a href="http://codedesign.elkind.net/themes/basicelement/">CODEDESIGN</a></p>-->
					<p class="nav"><a href="#about" class=" btn btn-down page-scroll"><i class="fa fa-angle-down animated"></i></a></p>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Download Section -->
					<br>
                    <center><h2>Лекция 3</h2></center>
                    <p style="margin-left:20px; margin-right:10px;">Что такое целевой фишинг<br>
Итак, целевой фишинг (от англ. spear phishing) – это вид электронного мошенничества, при котором злоумышленник получает доступ к секретным (конфиденциальным) файлам определенного пользователя. В отличие от классического фишинга, здесь хакер выдает себя за вашего знакомого или человека, которому в жизни вы всецело доверяете.
Подобные хакерские атаки позволяют не просто завладеть конфиденциальными данными определенного пользователя, но и получить доступ к секретным финансовым файлам, раскрыть информацию, которая относится к категории коммерческой тайны, и тому подобное.<br>
Атака проводится через простое электронное письмо, которое якобы прислал человек, знакомый жертве атаки. Но, по факту, оно создано посторонним человеком и содержит указания для совершения определенного действия или выдачи конкретной информации.<br>
Осознание того, что вы стали жертвой подобной атаки приходит не сразу. Только после обнаружения подозрительных финансовых транзакций или внезапного ущерба человека понимает, что открытое недавно письмо не просто казалось подозрительным, а действительно было таковым.<br>
Защита от целевого фишинга: тестирование безопасности<br>
Существуют следующие технические методы защиты:<br>
Проверка спам-сообщений. Данный функционал должен быть установлен на почтовом сервере, например, для входящих писем. Еще это полезно, если вы тестируете интернет-магазин, а конкретно логику обработки текстового заказа через специальные формы. Некоторую часть из известных ныне фишинг-писем можно идентифицировать по их содержанию. Стоит быть осторожным, так как подобные письма могут на первый взгляд казаться вполне адекватным клиентским сообщением. В таком случае ложного срабатывания валидатора не избежать.<br>
Тестирование адресов отправителей писем. Настоящий отправитель и тот, который указанный в заголовке письма, могут не совпадать. Стоит внимательно проверять, что домен компании написан правильно, ведь даже смена одного символа на похожий (использование английской литеры «с» вместо «с» русской, например) может спровоцировать хакерскую атаку.
Тестирование вложений в письмах (выполняется в так называемых песочницах). Перед тем как адресат получит входящее письмо с вложением, его стоит тщательным образом проверить на антивирус или запустить в песочнице.<br>
Проверка логики работы блокировки писем, которые содержат подозрительные ссылки или странные вложения в файлах. Подобная защита позволяет не просто фильтровать письма с подозрительным контентом, но и является залогом успешной борьбы с потенциально масштабными векторами хакерских атак.<br>
Если вы получили подозрительное письмо<br>
Как бы тщательно не тестировался сервис электронной почты, подозрительное письмо все же может попасть в виртуальный почтовый ящик. А значит, стоит также уделить внимание таким вещам, как:<br>
Со стороны отправителя<br>
Письмо получено от человека, которого вы не знаете либо контактируете очень редко;
Вы не доверяете отправителю, не поддерживаете деловые отношения с ним, или вообще вы прежде никогда не контактировали;
Вы знаете отправителя, но стиль письма очень подозрителен;<br>
Домен почтового адреса отправителя отображается с явной грамматической ошибкой.<br>
Со стороны получателя<br>
Письмо адресовано не только вам, но и другим людям, с которыми вы не знакомы.
Ссылки<br>
В письме указана ссылка, но при переходе по ней, система перенаправляет вас по совершенно другому адресу;<br>
Письмо содержит исключительно ссылку;<br>
Ссылка содержит адрес, с виду похожий на популярный сайт, но в нем допущена явная грамматическая ошибка.<br>
Время получения<br>
Например, получатель письма – менеджер компании, который вдруг видит входящее письмо от другого работника фирмы, но отправленное очень глубокой ночью.<br>
Суть письма<br>
Тема письма не соотносится с его содержанием;<br>
Тема отображается как будто ответ на письмо, которое пользователь никогда в действительности не видел в глаза.<br>
Содержание письма<br>
В письме содержится срочный призыв перейти по предоставленным ссылкам, чтобы избежать чего-то глобального и негативного;<br>
В тексте много ошибок и его стилистика вызывает вопросы;<br>
Отправитель настоятельно просит отправить ваши персональные данные или подтвердить нужную ему верификацию по СМС-сообщению.<br>
Естественно, недостаточно только знать эти правила. Подобная информация должна быть донесенной всем участникам/сотрудникам определенной компании, которые пользуются совместным почтовым сервисом.<br>
Безусловно, проще противостоять атаке, когда понятно, что может произойти. Внутри продуктовых компаний очень полезно проводить так называемое социотехническое тестирование, чтобы понять, что данная информация была успешно понята и усвоена.<br>
Итоги<br>
Тестировать атаки социальной инженерии очень сложно с практической стороны, так как конечным рубежом атак становится простой пользователь виртуального почтового ящика. Хакеры могут знать все доступные методы атак и способы их противодействия, а значит и создать вариации их обхода.<br>
Однако выполнять требуемые проверки хотя бы на базовом уровне – это обязательное условие, которое в действительности снижает процент успешности проведения подобных посягательств на конфиденциальные данные человека.
</p>
<!-- About Section -->
<section id="about" class="container-fluid content-section">
<div style=" padding: 10px; overflow:auto;">
<script>
var title = 'Тестирование';
var subtitle = "Этот тест позволяет оценить знания после прохождения лекции";
var questions=[
{
	text: "Можете ли вы лично устанавливать ПО, необходимое для работы?",
	answers: ["Да, в любом случае",
		  "Да, если без него не обойтись",
		  "Нет"],
	correctAnswer: 2 
},
{
	text: "Что следует делать, если вам необходимо установить дополнительное ПО?",
	answers: ["Сообщить об этом тех. Специалисту",
		  "Установить самому",
		  "Сообщить об этом руководителю"],
	correctAnswer: 0
},
{
	text: "Должны ли вы обновить ПО, если имеется более актуальная версия?",
	answers: ["Нет, это должен сделать тех. Специалист",
		  "Да, должен",
		  "Да, в случае необходимости"],
	correctAnswer: 0
},
{
	text: "Может ли злоумышленник создать точную копию известного вам сайта для обмана?",
	answers: ["Да, может",
		  "Нет",
		  "Может лишь частично"],
	correctAnswer: 0
},
{
	text: "Можете ли вы переходить по коротким ссылкам в сообщениях?",
	answers: ["Да, если оно от доверенного источника",
		  "Нет",
		  "Да, если это требуется"],
	correctAnswer: 0
}
];

var yourAns = new Array;
var score = 0;

function Engine(question, answer) {yourAns[question]=answer;}

function Score(){
   var answerText = "Результаты:<br/>";
   for(var i = 0; i < yourAns.length; ++i){
	var num = i+1;
	answerText=answerText+"<br/>    Вопрос №"+ num +"";
	if(yourAns[i]!=questions[i].correctAnswer){
	    answerText=answerText+": Правильный ответ -  " +
		questions[i].answers[questions[i].correctAnswer];
	  }
        else{
	    answerText=answerText+": Верно! \n";
	    ++score;
	    }
       }

   answerText=answerText+"<br/>Всего правильных ответов: "+score+" <br/>";

   document.getElementById('answerText').innerHTML = answerText;
   yourAns = [];
   score = 0;
   clearForm("quiz");
}
function clearForm(name) {
   var f = document.forms[name];
   for(var i = 0; i < f.elements.length; ++i) {
	if(f.elements[i].checked)
		f.elements[i].checked = false;
}
}
</script>
<h2><script>document.write(title)</script></h2>
<h3><script>document.write(subtitle)</script></h3>

    <form name="quiz">
    <ol>
        <script>
        for(var q=0; q<questions.length; ++q) {
           var question = questions[q];
           var idx = 1 + q;

           document.writeln('<li><span class="quest">' + question.text + '</span><br>');
           for(var i in question.answers) {
            document.writeln('<label><input type=radio name="q' + idx + '" value="' + i +
            '" onClick="Engine(' + q + ', this.value)"> ' + question.answers[i] + '</label><br>');
        }
            document.writeln('</li>');
        }
        </script>
    </ol>
        <br>
		<span id="answerText"></span>
		<br>

        <button type="button" onClick="Score()" class="btn btn-default btn-lg">Проверить результаты</button>
    </form>
</div>
</section>



<!-- Footer -->
<footer>
    <div class="container text-center">
        <p>Copyright &copy; MOSCOW POLYTECH</p>
    </div>
</footer>

<!-- jQuery -->
<script src="../static/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../static/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="http://flesler-plugins.googlecode.com/files/jquery.scrollTo-1.4.3.1-min.js"></script>
<script src="../static/js/jquery.easing.min.js"></script>
<script src="../static/js/SmoothScroll.js"></script>
<script src="../static/js/basicelement.js"></script>

</body>
</html>
