<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Лекция 1</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/basicelement.css" rel="stylesheet">

</head>

<body data-spy="scroll" data-target=".navbar">

<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header nav">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-lg fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#intro">
                <i class="fa fa-male"></i>  <span class="light">MOSCOW</span>POLYTECH
            </a>
        </div>
		<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
				<li>
                    {% if current_user.is_authenticated %}
			<a onClick="location.href='{{url_for('index')}}';" type="button" class="page-scroll">На главную</a>
			{% endif %}
                </li>
            </ul>
		</div>
    </div>
    <!-- /.container -->
</nav>

<!-- Intro Header -->
<header class="intro" id="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading" style="color:gray">Методика защиты информации от целевого фишинга</h1>
					<p class="nav"><a href="#about" class=" btn btn-down page-scroll"><i class="fa fa-angle-down animated"></i></a></p>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Download Section -->
					<br>
                    <center><h2>Лекция 1</h2></center>
                    <p style="margin-left:20px; margin-right:10px;">Фишинг<br>
В последнее время с распространением Интернета в массы появился новый вид мошенничества, который нацелен на кражу персональных данных пользователя. Этот новый вид получил название фишинг. Фишинг прежде всего нацелен на то, чтобы получить данные логина и пароля к определенным сайтам или онлайн-сервисам. Это достигается путем проведения массовых рассылок электронных писем от имени популярных брендов, а также личных сообщений внутри различных сервисов, например, от имени банков (Ситибанк, Альфа-банк), сервисов (Rambler, Mail.ru) или внутри социальных сетей (Facebook, Вконтакте, Одноклассники.ru). <br> В письме часто содержится прямая ссылка на сайт, внешне не отличимый от настоящего. После того, как пользователь попадает на поддельную страницу, мошенники пытаются различными психологическими приемами побудить пользователя ввести на поддельной странице свои логин и пароль, которые он использует для доступа к определенному сайту, что позволяет мошенникам получить доступ к аккаунтам и банковским счетам. Фишинг по сути является одной из разновидностей социальной инженерии, но уже с использованием не только психологических средств воздействия на пользователя, но также и технических (в роли технических средств выступает поддельный сайт).<br> Прежде всего, фишинг нацелен на доверчивость пользователя Интернета. Часто именно благодаря фишингу злоумышленник может раздобыть информацию о логинах и паролях. Для борьбы с фишингом многие браузеры ввели в свои алгоритмы перехода на другие сайты своеобразные фильтры, которые сообщают пользователю о том, что сайт может быть фишинговым. Фильтр работает на том основании, что сам сайт может быть уже кем-то проверен и определен как фишинговый сайт, либо сайт не имеет соответствующих сертификатов, которые имеет настоящий сайт. Впрочем, фишинг остается популярным методом кражи информации у пользователей. Причем, не только рассылка по электронной почте способствует распространению фишинга. <br>Рассылки в социальных сетях также способствуют распространению фишинга. Причем злоумышленники работают по следующей схеме - сначала каким-либо образом воруется аккаунт у пользователя социальной сети (возможно, и посредством фишинга). Далее с аккаунта пользователя рассылают фишинговые сообщения друзьям, которые есть у пользователя в социальной сети. Естественно, друзья, посмотрев на то, что сообщение исходит от знакомого им человека, перейдут по ссылке, которая ведет на фишинговый сайт, и оставят на этом сайте свои персональные данные. Такая схема работает пока что практически стабильно, и какое-то количество человек все равно переходит по тем ссылкам, которые рассылаются с аккаунтов их друзей и знакомых. <br>Также другими местами распространения фишинговых сайтов являются различные чаты и системы мгновенного обмена сообщениями. Не секрет, что в таких системах большая часть аудитории не совсем понимает всю опасность, которая может скрываться за ссылкой, которую разместил неизвестный пользователь.Чтобы избежать попадания на фишинговые сайты, пользователь должен помнить, что не стоит переходить на те сайты, которые советуют незнакомые люди. Также лучше всегда самому переходить на сайты различных онлайн-сервисов, а не следовать ссылкам. Также следует помнить, что различные сервисы обычно не требуют различных обновлений в авторизации, резких и необоснованных смен паролей и других подобных вещей. Если пользователь будет соблюдать такие меры предосторожности, то, скорее всего, он избежит попадания на фишинговые сайты.
Рассылка через системы мгновенных сообщений<br>
Каждый пользователь Интернета хотя бы имеет представление о том, что такое система мгновенных сообщений (или система обмена мгновенными сообщениями). Многие даже пользовались или пользуются подобными системами (например, ICQ). Но не многие понимают то, что через такие системы можно распространять различные зловредные программы, а также выманивать различные персональные данные пользователя. <br>Примеры, связанные с добычей персональных данных с помощью социальной инженерии, были приведены в главе про социальную инженерию, здесь же пойдет речь о том, как злоумышленники проводят различные вредоносные рассылки через системы обмена мгновенными сообщениями. Злоумышленник знает, что пользователь не загрузит исполняемый файл от незнакомого человека (по статистике), но он может его загрузить, если этот файл передаст ему пользователь из его контакт листа. Злоумышленнику остается лишь взломать один аккаунт пользователя в системе мгновенных сообщений и далее начать рассылку исполняемого файла, в котором содержится зловредная программа.<br> При этом пользователи будут верить в то, что исполняемый файл безобиден, так как его пересылает знакомый человек. Так лавинообразно от одного пользователя можно заразить зловредной программой множество человек, при этом все зараженные пользователи не смогут выявить причину заражения, ведь файл достался им от знакомых, которые не желали им зла. Именно благодаря такой схеме рождались и рождаются целые эпидемии заражения пользовательских компьютеров зловредными программами. К сожалению, не все пользователи до сих пор осознают опасность, которую несет обычный файл, который предлагают загрузить из Интернета.<br>
Подставная работа<br>
Интернет уже настолько стал частью нашей жизни, что никого уже не удивишь различными способами Интернет заработка. Тем более, что заработок в Интернете во многом может превосходить заработок в реальной жизни и на реальных работах. К сожалению, этим знанием может воспользоваться и злоумышленник. Есть множество сайтов, которые якобы предлагают различную легкую работу пользователю за неплохие деньги. И вроде вначале не возникает никаких вопросов, насколько может быть законна такая работа, ведь с первого взгляда все довольно честно.<br> Также не возникает у новоиспеченных работников вопросов о том, как обстоят дела с безопасностью на таких сайтах, и не может ли быть сама работа опасной для персональных данных пользователя. Одним из примеров такой работы может быть работа, которая заключается в том, что пользователь регистрируется на различных сервисах под своими данными и потом передает эти аккаунты работодателю. Казалось бы, на первый взгляд, нет ничего необычного, работа несложная, пользователь делает регистрации, а работодатель платит за это деньги. Но только на первый взгляд такая работа выглядит честной и порядочной, на самом деле работодатель может использовать такие аккаунты для того, чтобы распространять вредоносные программы.<br> А в чем же заключается опасность для персональных данных? Прежде всего, в том, что пользователь может указывать на таких сайтах свои персональные данные, для того, чтобы совершить регистрацию. В этом ключе такая работа становится очень опасной для конечного пользователя: ведь он рискует не только своими персональными данными, но также и репутацией. Ведь аккаунт может быть использован в любых целях, которые нужны злоумышленнику, вплоть до рекламы каких-либо порнографических вещей, что уже само по себе является аморальным. Однако, многие пользователи все еще выполняют подобные работы в сети Интернет. Фактически, они, сами того не подозревая, становятся посредниками злоумышленника. Также некоторые злоумышленники предлагают работу по распознаванию букв с картинки (капча- распознавание символов с картинки). При этом они говорят о том, что ничего нелегального в этом нет, а само распознавание производится в целях какого-либо научного исследования. Пользователь при этом может не знать о том, что такой труд может быть использован для того, чтобы обходить защиту многих сайтов от автоматической регистрации. То есть на стороне злоумышленника создаются различные аккаунты на сайте, основной преградой которых остается как раз капча, которую уже самостоятельно заносят пользователи. Естественно, такие аккаунты могут быть использованы как угодно и в любых целях. Стоит отметить и то, что не все подобные предложения о работе могут являться предложениями от злоумышленников. Некоторые из таких предложений могут быть предложениями серьезных компаний, которые действительно заинтересованы в различных научных исследованиях в области распознавания символов.<br> Так же и предложения, которые связаны с регистрацией на различных сайтах, вполне могут быть предложениями, которые происходят от вполне честных людей с честными намерениями. Для того, чтобы понять добросовестность человека, который предлагает работу, необходимо проверить его в различных источниках на наличие положительных или отрицательных отзывов на этого человека. Если доминирует большое количество отрицательных отзывов о человеке, то будет лучше поискать другую работу в сети Интернет. Также, если у новоиспеченного работодателя нет каких-либо документов, подтверждающих его причастность к крупной компании или научной лаборатории, но этот работодатель говорит, что он на самом деле причастен, то такому работодателю лучше не доверять.<br>
Зомбирование компьютера<br>
Одной из опасностей для пользователя является не только потеря его персональных данных в результате действий злоумышленника, но также полный захват компьютера злоумышленником. В этом случае, компьютер считается зомбированным, и он может не только предоставить все персональные данные пользователя, которые хранятся на компьютере, но также быть использован в различных DDOS атаках (атаки на различные серверы с помощью зомбированных компьютеров). Зомбирование компьютера пользователя может произойти с помощью различных зловредных программ, которые распространяет злоумышленник. Пользователь должен помнить, что для защиты своего компьютера от зомбирования, он должен своевременно обновлять антивирусную защиту (а сама антивирусная защита должна быть проверенной и надежной), а также проявлять бдительность во всех ситуациях, которые были перечислены выше.
Сервисы коротких ссылок<br>
Сами по себе сервисы коротких ссылок являются очень полезным инструментом, который позволяет сделать различные короткие ссылки из длинных ссылок. Это было создано для удобства пользователей, чтобы они могли обмениваться короткими ссылками на сайты вместо длинных и неудобных ссылок. Но злоумышленники заметили популярность и полезность сервисов коротких ссылок. Все дело в том, что различные узлы злоумышленников рано или поздно попадают в специальные базы, в которых говорится о том, что тот или иной узел опасен для обычного пользователя, так как он является разносчиком зловредных программ. Но попадания в такую базу можно избежать, если вместо своей подлинной ссылки использовать ссылку, которую сгенерирует сервис коротких ссылок.<br> Схема получается примерно следующей - злоумышленник загружает на сайт сервиса свою ссылку, переходя по которой пользователь попадет на опасный сайт злоумышленника. Сервис коротких ссылок преобразует ссылку злоумышленника в короткую ссылку, являющуюся к тому же, на первый взгляд, еще и безопасной ссылкой, переход по которой абсолютно безопасен для пользователя. <br>Но на самом деле ссылка все равно является опасной, так как она ведет на сайт злоумышленника. В итоге получается, что с помощью сервиса коротких ссылок злоумышленник маскирует свои вредоносные ссылки, чтобы потом иметь возможность рассылать их пользователям. Впрочем, в настоящее время появились различные программы и сервисы, которые определяют самостоятельно, что же именно находится за короткой ссылкой.<br>
</p>

<!-- About Section -->
<section id="about" class="container-fluid content-section">
<div style=" padding: 10px; overflow:auto;">
<script>
var title = 'Тестирование';
var subtitle = "Этот тест позволяет оценить знания после прохождения лекции";
var questions=[
{
	text: "Электронное письмо, в котором утверждается, что вы выиграли в лотерею, при условии, что вы укажите данные своей банковской карты, является примером какого типа атаки социальной инженерии?",
	answers: ["Приманка",
		  "Фишинг",
		  "Не является атакой, в письме говорят правду",
		  "Предлог"],
	correctAnswer: 1 
},
{
	text: "Что из перечисленного, вероятно, не поможет предотвратить фишинг?",
	answers: ["Постоянно совершенствовать знания в сфере социальной инженерии, проходить тренинги",
		  "Выполнять немедленно любые операции с системой, если позвонил начальник отдела безопасности",
		  "Блокировать электронную почту от неизвестных отправителей",
		  "Не использовать чужие съёмные носители, полученные от недостоверного лица "],
	correctAnswer: 1
},
{
	text: "Что Вы сделаете если обнаружите USB-накопитель на территории компании?",
	answers: ["Заберу домой и на личном компе посмотрю",
		  "Подключу к своей рабочей станции, чтобы понять чей он, и верну владельцу",
		  "Пройду мимо и сделаю вид что я «не видел»",
		  "Передам USB-носителей в Департамент информационной безопасности "],
	correctAnswer: 3
},
{
	text: "Как часто желательно должны проводиться специальные тестирования персонала?",
	answers: ["Раз в 2-3 месяца",
		  "Раз в полгода",
		  "Раз в год"],
	correctAnswer: 1
},
{
	text: "Если письмо адресовано не только вам, но и другим, незнакомым вам людям, является ли это фишингом?",
	answers: ["Да, если сообщение отправлено 10 и более получателям",
		  "Нет",
		  "Да, неважно на сколько много людей указано в рассылке"],
	correctAnswer: 2
}
];

var yourAns = new Array;
var score = 0;

function Engine(question, answer) {yourAns[question]=answer;}

function Score(){
   var answerText = "Результаты:<br/>";
   for(var i = 0; i < yourAns.length; ++i){
	var num = i+1;
	answerText=answerText+"<br/>    Вопрос №"+ num +"";
	if(yourAns[i]!=questions[i].correctAnswer){
	    answerText=answerText+": Правильный ответ -  " +
		questions[i].answers[questions[i].correctAnswer];
	  }
        else{
	    answerText=answerText+": Верно! \n";
	    ++score;
	    }
       }

   answerText=answerText+"<br/>Всего правильных ответов: "+score+" <br/>";

   document.getElementById('answerText').innerHTML = answerText;
   yourAns = [];
   score = 0;
   clearForm("quiz");
}
function clearForm(name) {
   var f = document.forms[name];
   for(var i = 0; i < f.elements.length; ++i) {
	if(f.elements[i].checked)
		f.elements[i].checked = false;
}
}
</script>
<h2><script>document.write(title)</script></h2>
<h3><script>document.write(subtitle)</script></h3>

    <form name="quiz">
    <ol>
        <script>
        for(var q=0; q<questions.length; ++q) {
           var question = questions[q];
           var idx = 1 + q;

           document.writeln('<li><span class="quest">' + question.text + '</span><br>');
           for(var i in question.answers) {
            document.writeln('<label><input type=radio name="q' + idx + '" value="' + i +
            '" onClick="Engine(' + q + ', this.value)"> ' + question.answers[i] + '</label><br>');
        }
            document.writeln('</li>');
        }
        </script>
    </ol>
        <br>
		<span id="answerText"></span>
		<br>

        <button type="button" onClick="Score()" class="btn btn-default btn-lg">Проверить результаты</button>
    </form>
</div>
</section>



<!-- Footer -->
<footer>
    <div class="container text-center">
        <p>Copyright &copy; MOSCOW POLYTECH</p>
    </div>
</footer>

<!-- jQuery -->
<script src="../static/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../static/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="http://flesler-plugins.googlecode.com/files/jquery.scrollTo-1.4.3.1-min.js"></script>
<script src="../static/js/jquery.easing.min.js"></script>
<script src="../static/js/SmoothScroll.js"></script>
<script src="../static/js/basicelement.js"></script>

</body>
</html>
