<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Лекция 2</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/basicelement.css" rel="stylesheet">

</head>

<body data-spy="scroll" data-target=".navbar">

<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header nav">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-lg fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#intro">
                <i class="fa fa-male"></i>  <span class="light">MOSCOW</span>POLYTECH
            </a>
        </div>
		
		<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
				<li>
                    {% if current_user.is_authenticated %}
			<a onClick="location.href='{{url_for('index')}}';" type="button" class="page-scroll">На главную</a>
			{% endif %}
                </li>
            </ul>
		</div>
        </div>
    </div>
    <!-- /.container -->
</nav>

<!-- Intro Header -->
<header class="intro" id="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading" style="color:gray">Методика защиты информации от целевого фишинга</h1>
					<p class="nav"><a href="#about" class=" btn btn-down page-scroll"><i class="fa fa-angle-down animated"></i></a></p>
                </div>
            </div>
        </div>
    </div>
</header>

					<br>
                    <center><h2>Лекция 2</h2></center>
                    <p style="margin-left:20px; margin-right:10px;">Фишинг-атаки организуются так: киберпреступники создают подложный сайт, который выглядит в точности так же, как сайт банка или сайт, производящий финансовые расчеты через интернет. Затем мошенники пытаются обманным путем добиться, чтобы пользователь посетил фальшивый сайт и ввел на нем свои конфиденциальные данные – например, регистрационное имя, пароль или PIN-код. Используя их, злоумышленники крадут деньги со счетов попавшихся на удочку пользователей.<br>
Как правило, для привлечения пользователей на подложный сайт используется массовая рассылка электронных сообщений, которые выглядят так, как будто они отправлены банком или иным реально существующим финансовым учреждением, но при этом содержат ссылку на подложный сайт. Пройдя по ссылке, вы попадаете на поддельный сайт, где вам предлагается ввести ваши учетные данные.<br>
Часто в фишинг-сообщениях используются те же логотипы и оформление, что и в письмах настоящего банка, а также ссылки, похожие на реальный адрес банка в интернете. Кроме того, сообщение может содержать ваше имя, как будто оно действительно адресовано вам лично. В письмах мошенников обычно приводится правдоподобная причина, требующая ввода вами на сайте «банка» своих данных.<br>
<br>Для защиты от фишинговых атак:<br>
Относитесь внимательно к сообщениям, в которых вас просят указать ваши личные данные. Вероятность того, что ваш банк может запросить подобные данные по электронной почте, чрезвычайно мала.<br>
Не заполняйте полученные по электронной почте анкеты, предполагающие ввод личных данных. Подобную информацию безопасно вводить только на защищенных сайтах. Убедитесь, что его адрес начинается с «https://» и найдите пиктограмму, похожую на запертый висячий замок, в правом нижнем углу окна браузера.<br>
Если у вас остались сомнения, а вам необходимо провести операцию, требующую раскрытия ваших личных данных, <br>воспользуйтесь телефоном. Связывайтесь с банком по телефону всякий раз, когда ситуация покажется вам подозрительной.
Не проходите по ссылкам в электронных письмах в формате HTML: киберпреступники могут спрятать адрес подложного сайта в ссылке, которая выглядит как настоящий электронный адрес банка. Вместо этого наберите адрес вручную или скопируйте ссылку в адресную строку браузера.<br>
Убедитесь, что ваше антивирусное решение способно блокировать переход на фишинговые сайты или установите интернет-обозреватель, оснащенный фишинг-фильтром.<br>
<br>Регулярно проверяйте состояние своих банковских счетов и просматривайте банковские выписки, чтобы убедиться в отсутствии «лишних» операций.<br>
Следите за тем, чтобы у вас всегда были последние обновления безопасности

</p>

<!-- About Section -->
<section id="about" class="container-fluid content-section">
<div style=" padding: 10px; overflow:auto;">
<script>
var title = 'Тестирование';
var subtitle = "Этот тест позволяет оценить знания после прохождения лекции";
var questions=[
{
	text: "На что следует обращать внимание при переходе на подозрительный сайт?",
	answers: ["URL адрес",
		  "Дизайн сайта",
		  "Функционал сайта"],
	correctAnswer: 0 
},
{
	text: "Может ли ваша же организация отправить вам фишинговое письмо?",
	answers: ["Да, предупредив меня за некоторое время об этом",
		  "Да, не предупреждая меня об этом",
		  "Нет"],
	correctAnswer: 1
},
{
	text: "На что следует обратить внимание при получении подозрительного сообщения?",
	answers: ["На тело письма",
		  "На адрес отправителя",
		  "На просьбы ввода данных / перехода по ссылкам в письме",
		  "На все вышеперечисленное"],
	correctAnswer: 3
},
{
	text: "Что может получить злоумышленник, если вы установите сторонне ПО?",
	answers: ["Полный доступ к компьютеру",
		  "Частичный доступ к компьютеру",
		  "Ничего, ведь есть защитные ПО"],
	correctAnswer: 0
},
{
	text: "Можете ли вы запустить сторонний файл на компьютере?",
	answers: ["Да, используя песочницу",
		  "Да, запустив на основной системе",
		  "Нет"],
	correctAnswer: 0
}
];

var yourAns = new Array;
var score = 0;

function Engine(question, answer) {yourAns[question]=answer;}

function Score(){
   var answerText = "Результаты:<br/>";
   for(var i = 0; i < yourAns.length; ++i){
	var num = i+1;
	answerText=answerText+"<br/>    Вопрос №"+ num +"";
	if(yourAns[i]!=questions[i].correctAnswer){
	    answerText=answerText+": Правильный ответ -  " +
		questions[i].answers[questions[i].correctAnswer];
	  }
        else{
	    answerText=answerText+": Верно! \n";
	    ++score;
	    }
       }

   answerText=answerText+"<br/>Всего правильных ответов: "+score+" <br/>";

   document.getElementById('answerText').innerHTML = answerText;
   yourAns = [];
   score = 0;
   clearForm("quiz");
}
function clearForm(name) {
   var f = document.forms[name];
   for(var i = 0; i < f.elements.length; ++i) {
	if(f.elements[i].checked)
		f.elements[i].checked = false;
}
}
</script>
<h2><script>document.write(title)</script></h2>
<h3><script>document.write(subtitle)</script></h3>

    <form name="quiz">
    <ol>
        <script>
        for(var q=0; q<questions.length; ++q) {
           var question = questions[q];
           var idx = 1 + q;

           document.writeln('<li><span class="quest">' + question.text + '</span><br>');
           for(var i in question.answers) {
            document.writeln('<label><input type=radio name="q' + idx + '" value="' + i +
            '" onClick="Engine(' + q + ', this.value)"> ' + question.answers[i] + '</label><br>');
        }
            document.writeln('</li>');
        }
        </script>
    </ol>
        <br>
		<span id="answerText"></span>
		<br>

        <button type="button" onClick="Score()" class="btn btn-default btn-lg">Проверить результаты</button>
    </form>
</div>
</section>



<!-- Footer -->
<footer>
    <div class="container text-center">
        <p>Copyright &copy; MOSCOW POLYTECH</p>
    </div>
</footer>

<!-- jQuery -->
<script src="../static/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../static/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="http://flesler-plugins.googlecode.com/files/jquery.scrollTo-1.4.3.1-min.js"></script>
<script src="../static/js/jquery.easing.min.js"></script>
<script src="../static/js/SmoothScroll.js"></script>
<script src="../static/js/basicelement.js"></script>

</body>
</html>
